body{background-color: lightblue}
/*#table{border-style: solid;
            border-width: thick;
            height: 300px;
            width: 60%;
            }*/
#table{
                border-radius: 100px;
                background: #096B32;
                padding: 20px;
                width: 80%;
                height: 300px;}

#playerHand{
                        float:left;
                        margin-left: 50px;
                        margin-top: 50px;
                        width:42%}
#computerHand{
                        float:right;
                        margin-right:50px;
                        margin-top: 50px;
                        width:42%}

#changeButton{margin-top: 175px;
                        width: 20%;
                        height: 10%;}
.card{padding: 2px;}
